# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Binaries
*.exe

# Local Data
openings/
!openings/.gitkeep
